version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/data
      - ./backend/db:/app/db
      - ./backend/model:/app/model

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
